*{
    margin: 0;
    overflow: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: rgb(29, 29, 29);
}

/* app */

/* audioplayer */

.audioplayer{
    padding: 3%;
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.audioplayer h4{
    background-color:  rgb(242, 242, 242);
}

.audioplayer audio{
    background-color: rgb(242, 242, 242);
}

/* nav */

@media only screen and (min-width: 768px){
    nav{
        background-color: black;
        padding: 2.5%;
        display: flex;
        flex-direction: row;
        gap: 2%;
        height: 9vh;
    }

    nav a{
        color: white;
        text-decoration: wavy;
        background-color: rgb(255, 166, 0);
        border-radius: 10px;
        padding: 1%;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
        border: solid 0.01px rgb(226, 69, 69);
        border-bottom: solid 2px red;
        
    }

    nav a.active {
        background-color: gray;
    }
}

.nav {
    background-color: black;
}
nav{
    background-color: black;
    padding: 4%;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a{
    color: white;
    text-decoration: wavy;
    border-radius: 10px;
    padding: 2%;
    border-bottom: solid 2px white;
    background-color: black;
    
}

nav a.active {
    color: orange;
}


.nav-outlet{
    padding: 2%;
       
}

.max-width-nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Shows */

.show{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
}

.each-show{
    width: auto;
    margin: 1%;
}

.img-show{
    width: 148px;
    border-radius: 3%;
}

.show a {
    text-decoration: none;
    color: orange;
}

.most-played{
    color: white;
    margin-top: 6%;
    margin-bottom: 4%;
}

.most-played-opps{
    color: white;
    /* margin-top: 1%; */
    margin-bottom: 4%;
}

/* seasons */

.img-season{
    width: 40%;
}

/* Episodes */

.episodes{
    display: grid;
    grid-template-columns: 90% 6%;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 2%;
}

.episodes:hover .episode-title{
    background-color: rgba(56, 56, 56, 0);
}
.episodes:hover p{
    background-color: rgba(56, 56, 56, 0);
}
.episodes:hover{
    background-color: rgba(56, 56, 56, 0.384);
}

.episode-title{
    display: flex;
    flex-direction: row;
    /* gap: 3%; */

}

.episode-title p:nth-child(1) {
    padding-left: 5%;
    padding-right: 5%;
}
.episode-title p:nth-child(2) {
    color: white;
}

/* footer */
footer{
    margin-bottom: 30%;
}
Footer{
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 10%;

}

footer a, p {
    text-decoration: none;
    color: gray;
}

footer p{
    margin-top: 5%;
}

/* more */

@media only screen and (max-width: 768px){
    .more{
        width: 104.1%;
        margin-left: -2%;
        padding: 5%;
    }
}

.about-us p, .about-us li, .about-us ul, .about-us h1, .about-us, .more a, .more  {
    background-color: white;
}

.contact-us{
    margin: 20%;
    background-color: white;
    height: 50vh;
}

.more a{
    text-decoration: none;
    margin-left: 3%;
    color: green;
}

.more a.active{
    text-decoration: overline;
}

.help , .help h4 , .help p, .help ul, .help li{
    background-color: white;
}

.contact-us img{
    background-color: transparent;
}


/* Audio Player */

.component {
  background-color: white;
  padding: 6%;
  border: 0.1px solid black;
  height: 100vh;
  text-align: center;
}

.min-component{
    background-color: white;
    padding: 2%;
    border: 0.1px solid black;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    position: fixed;
    bottom: 0;
}

.playing-now{
    background-color: white;
}

.min-playing-now{
    display: none;
}

.musicCover {
  border-radius: 1%;
  width: 70%;
  margin-bottom: 20%;
  margin-top: 20%;
  box-shadow: 1px 1px 40px 3px rgba(148, 147, 146, 0.543);
}

.min-musicCover{
    border-radius: 1%;
    width: 15%;
    height: 7vh;
}

.playButton {
  background-color: white;
  border: none;
  align-items: center;
  justify-content: center;
}

.audio-title{
    background-color: white;
}

.min-audio-title{
    background-color: white;
    font-size: 15px;
}

.subTitle {
  margin-top: -1em;
  color: #4f4f4f;
  background-color: white;
}

.min-subTitle {
  margin-top: -1em;
  color: #4f4f4f;
  background-color: white;
  font-size: 10px;
}

.min-audio-title-subtitle{
    background-color: white;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
  background-color: white;
}

.time-adjust{
    background-color: white;
}

.min-time-adjust{
    background-color: white;
    display: none;
}

.timeline {
  width: 100%;
  background-color: #aac0b36a;
}

input[type="range"] {
  background-color: #27ae60;
}

.play-buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
}