*{
    margin: 0;
    overflow: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar { 
    width: 0.3em;
    height: 0.9px;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: rgb(165, 163, 163);
    outline: 1px solid rgba(255, 166, 0, 0.221);
}

/* audioplayer */

.audioplayer{
    padding: 3%;
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.audioplayer h4{
    background-color:  rgb(242, 242, 242);
}

.audioplayer audio{
    background-color: rgb(242, 242, 242);
}

/* nav */

@media only screen and (min-width: 768px){
    .nav{
        background-color: black;
    }
    nav{
        background-color: black;
        /* padding: 2.5%; */
        /* display: flex; */
        /* flex-direction: row; */
        /* gap: 2%; */
        /* height: 9vh; */
        padding: 10%;
    }

    nav a{
        color: white;
        text-decoration: none;
        background-color: rgb(255, 166, 0);
        border-radius: 5px;
        
    }

    nav a.active {
        background-color: black;
    }
}

.desktop-nav{
    background-color: black;
    display: grid;
    grid-template-columns: 15% 65%;
    grid-template-rows: 10%;
    gap: 5%;
}

nav{

    padding: 2%;

}

nav a{
    color: white;
    text-decoration: wavy;
    border-radius: 10px;
    padding: 2%;
    border-bottom: solid 2px white;
    background-color: black;
    margin: 0.5%;
    
}

nav a.active {
    color: orange;
    border-bottom: solid 2px orange;

}


.nav-outlet{
   margin-top: 5%;
       
}

.max-width-nav{
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* Shows */

.show{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
}

.shows-layout{
margin: 1%;
}

.each-show{
    width: auto;
    margin-bottom: 1%;
}

.shows-scroll{
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
}

@media only screen and (max-width: 780px) {
    .shows-scroll-text{

        display: inline-block;
        animation: scroll 30s linear infinite; 
      }
    
      @keyframes scroll {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-130%); /* Adjust this value to determine how much it scrolls */
        }
      }
}

.img-show{
    width: 148px;
    border-radius: 3%;
}

.show a {
    text-decoration: none;
    color: orange;
}

.most-played{
    color: white;
    margin-top: 6%;
    margin-bottom: 4%;
}

.most-played-opps{
    color: white;
    /* margin-top: 1%; */
    margin-bottom: 4%;
    margin-top: 2%;
}

/* seasons */

.img-season{
    width: 120px;
}

/* Episodes */

.episodes{
    display: grid;
    grid-template-columns: 90% 6%;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 2px;
}

.episodes:hover .episode-title{
    background-color: rgba(56, 56, 56, 0);
}
.episodes:hover p{
    background-color: rgba(56, 56, 56, 0);
}
.episodes:hover{
    background-color: rgba(56, 56, 56, 0.384);
}

.episode-title{
    display: flex;
    flex-direction: row;
    /* gap: 3%; */

}

.episode-title p:nth-child(1) {
    padding-left: 25px;
    padding-right: 25px;
}
.episode-title p:nth-child(2) {
    color: white;
}

.img-blur {
    width: 85%;
    height: 260px;
    filter: blur(30px);
    opacity: 2;
    transform: scale(1.3);
}

.img-episode {
    max-width: 14rem;
    position: absolute;
    top: 1.5m;
    left: calc(50% - 7rem);
    border-radius: 2px;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.episode-title-s {
    font-weight:1000;
    background-color: transparent;
    color: white;

}

.content{
    position: absolute;
    background-color: transparent;
}

.image-titles{
    margin-bottom: 150px;
}

/* footer */
footer{
    margin-bottom: 30%;
}
Footer{
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 10%;

}

footer a, p {
    text-decoration: none;
    color: gray;
}

footer p{
    margin-top: 5%;
}

/* more */

@media only screen and (max-width: 768px){
    .more{
        padding: 5%;
    }
}

.about-us p, .about-us li, .about-us ul, .about-us h1, .about-us, .more a, .more  {
    background-color: white;
}

.contact-us{
    margin: 20%;
    background-color: white;
    height: 50vh;
}

.more a{
    text-decoration: none;
    margin-left: 3%;
    color: green;
}

.more a.active{
    text-decoration: overline;
}

.help , .help h4 , .help p, .help ul, .help li{
    background-color: white;
}

.contact-us img{
    background-color: transparent;
}


/* Audio Player */

.blur{
    width: 85%;
    height: 80vh;
    filter: blur(30px);
    opacity: 2;
    transform: scale(1.3);
}

.component {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: transparent;
    text-align: center;
    border: 0.1px solid black;

}

.min-component{
    background-color: white;
    padding: 5px;
    border: 0.1px solid black;
    height: 12vh;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    gap: 5%;
    width: 100%;
    
    position: fixed;
    bottom: 0;
}

.playing-now{
    color: white;
    background-color: transparent;
    margin-top: 3%;
    cursor: pointer;
}

.min-playing-now{
    display: none;
}

.musicCover {
  border-radius: 1%;
  max-width: 220px;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 1px 1px 40px 3px rgba(148, 147, 146, 0.543);
}

.min-musicCover{
    border-radius: 1%;

}

.playButton {
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  
}

.audio-title{
    background-color: transparent;
    height: 9vh;
    overflow-y: hidden;
    margin-bottom: 16px;
}

.min-audio-title{
    background-color: white;
    font-size: 20px;
    display: inline-block;
    animation: scroll 5s linear infinite; 
    /* white-space: nowrap;
    width: 1px; */
}

.subTitle {
  margin-top: -1em;
  color: white;
  background-color: transparent;
}

.min-subTitle {
  /* margin-top: -1em; */
  color: #4f4f4f;
  background-color: white;
  font-size: 15px;
  
}

.min-audio-title-subtitle{
    background-color: white;
    width: 160%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.audio-title-subtitle{
    color: white;
    background-color: transparent;

}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
  background-color: transparent;
}

.time-adjust{
    background-color: transparent;
}

.min-time-adjust{
    background-color: white;
    display: none;
}

.timeline {
  width: 88%;
  background-color: transparent;
}

input[type="range"] {
  background-color: #27ae60;
}

.play-buttons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.custom-icon {
    /* width: 3em; */
    color: white; /* Icon color */
    background-color: transparent; /* Background color */
    /* You can add more styles here */
  }

